/* 
@theme ucbc
@size 16:10 1280px 800px
*/

/** Extends the gaia theme **/
@import 'gaia';

/************************************ FONTS ********************************************
 *
 *	NOTE: You should replace the absolute path here to your personal markdown-slides dir 
 *
 ***************************************************************************************/

@font-face { font-family: ZillaSlab; font-weight: thin; 
	src: url('/home/aaron/workspace/tools/markdown-slides/fonts/ZillaSlab-Light.ttf'); 
}
@font-face { font-family: ZillaSlab; font-weight: normal; 
	src: url('/home/aaron/workspace/tools/markdown-slides/fonts/ZillaSlab-Regular.ttf'); 
}
@font-face { font-family: ZillaSlab; font-weight: bold; 
	src: url('/home/aaron/workspace/tools/markdown-slides/fonts/ZillaSlab-Bold.ttf'); 
}
@font-face { font-family: ZillaSlab; font-weight: normal; font-style: italic; 
	src: url('/home/aaron/workspace/tools/markdown-slides/fonts/ZillaSlab-Italic.ttf'); 
}

@font-face { font-family: Jost; font-weight: normal; 
	src: url('/home/aaron/workspace/tools/markdown-slides/fonts/Jost-Regular.ttf'); 
}
@font-face { font-family: Jost; font-weight: bold; 
	src: url('/home/aaron/workspace/tools/markdown-slides/fonts/Jost-Bold.ttf'); 
}

/************************************ IMAGES ********************************************
 *
 *	NOTE: You should replace the absolute path here to your personal markdown-slides dir 
 *
 ***************************************************************************************/
section {
	--ucbc_icon_url: url('/home/aaron/workspace/tools/markdown-slides/images/ucbc24.png');
}

/*************** GLOBAL THEME SETTINGS **************/

section {
	--WHITE: rgb(255, 255, 255);
	--OFF_WHITE: rgb(240, 240, 255);
	--DARK_GRAY: rgb(44, 44, 44);
	--RUST: rgb(203, 77, 73);
	--BLUE: #56A3A6;
	--GREEN: #6BA368;
	--GOLD: #F6AE2D;

	--theme_text: var(--DARK_GRAY);
	--theme_text_inv: var(--WHITE);
	--theme_text_accent: var(--GREEN);
	--theme_background: var(--WHITE);
	--theme_accent: var(--RUST);

	--font_size: 36px;
	--small_font_size: 30px;

	--h1_size: 1.8rem;
	--h2_size: 1.4rem;
	--h3_size: 1.2rem;

	--slide_padding: 40px;
	--vspace_lg: 0.40rem;
	--vspace_md: 0.25rem;
	--vspace_sm: 0.15rem;
	--footer_size: 0.6rem;

	--font_text: Jost, Geneva, sans-serif;
	--font_heading: ZillaSlab, Times, serif;

	box-sizing: border-box;
}

/*************** COLORSCHEMES **************/

/** Default Theme **/
section {
	--col_background: var(--theme_background);
	--col_text: var(--theme_text);
	--col_accent: var(--theme_accent);
	--col_header: var(--theme_accent);
}

/** Inverted: Title/Heading/Transition Theme **/
section.title, section.heading, section.transition {
	--col_background: var(--theme_accent);
	--col_text: var(--theme_text_inv);
	--col_accent: var(--theme_text);
}

/*************** DEFAULT STYLES ************/

section {
	margin: 0;
	padding: 0 var(--slide_padding);

	background-color: var(--col_background);
	color: var(--col_text);
	font-size: var(--font_size);
	font-family: var(--font_text);
}

section > * {
	margin-top: 0;
	margin-left: var(--slide_padding);
	margin-right: var(--slide_padding);
	margin-bottom: var(--vspace_sm);
}

h1,h2,h3,p,ul,ol,table,pre {
	margin-top: 0;
}

/** The h1 is actually a full banner at the top **/
h1 {
	margin-left: calc(-1 * var(--slide_padding));
	margin-right: calc(-1 * var(--slide_padding));
	margin-bottom: var(--vspace_lg);
	padding: calc(0.5 * var(--slide_padding)) var(--slide_padding);

	background-color: var(--col_header);
	color: var(--theme_text_inv);

	font-weight: thin;
	font-size: var(--h1_size);
}

h1,h2,h3 {
	font-family: var(--font_heading);
}
h2 {
	font-size: var(--h2_size);
	margin-bottom: var(--vspace_md);
}
h3 {
	font-size: var(--h3_size);
	margin-bottom: var(--vspace_sm);
}

h2 strong, h3 strong {
	color: var(--theme_text_accent);
}

p {
	margin-bottom: var(--vspace_sm);
	line-height: 1.6;
}

ul, ol {
	font-size: 0.9rem;
	margin-left: 0;
}

li {
	margin: 0 0 var(--vspace_sm) 0;
}

table {
	font-size: 0.8rem;
}
thead th {
	font-family: var(--font_heading);
}

code {
	font-size: 0.8rem;
	background-color: var(--OFF_WHITE);
	color: var(--col_text);
}

pre {
	margin-bottom: var(--vspace_lg);
	padding: 0.2rem 0.4rem;
	border: 2px solid var(--col_accent);
	border-radius: 5px;

	background-color: var(--OFF_WHITE);

	font-size: 0.8rem;
}

section pre code {
	background-color: inherit;
	color: #333;
}

/** Colors for syntax highlighting **/
section pre span.hljs-keyword {
	color: #A84030;
}
section pre span.hljs-title {
	color: #001878;
}
section pre span.hljs-comment {
	color: #606060;
}
section pre span.hljs-string {
	color: #389A18;
}
section pre span.hljs-class .hljs-title {
	text-decoration: none;
}
section pre span.hljs-params, section pre span.hljs-variable {
	color: #3070C0;
}
section pre span.hljs-type {
	color: #389A18;
}



footer {
	margin: 0;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(1.4 * var(--footer_size));

	background-color: var(--DARK_GRAY);
	background-image: var(--ucbc_icon_url);
	background-position: left 8px top 3px;
	background-repeat: no-repeat;

	padding: 0 0 6px 40px;

	font-size: var(--footer_size);
	color: var(--WHITE);
	line-height: 1.3em;
}




/************************ EXTRA CLASSES **********************/

/****** small - makes all the text on the slide a bit smaller *******/

section.small {
	font-size: calc(var(--font_size) * 0.8);
}

/****** condensed - shrinks margins/padding between items (fit more vertically) *******/
section.condensed {
	--vspace_lg: 0.20rem;
	--vspace_md: 0.12rem;
	--vspace_sm: 0.08rem;
}
section.condensed h1 {
	padding-top: 0.1rem;
	padding-bottom: 0.1rem;
}
section.condensed p {
	line-height: 1.4;
}


/****** plain - solid background with no special header/footer *******/
section.plain h1 {
	color: inherit;
	background-color: inherit;
}

section.plain footer {
	display: none;
}

/****** title/heading - inverted colors with the title centered in the middle ******/

/* Center Vertically and Horizontally */
section.title, section.heading, section.transition {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	font-size: calc(var(--font_size) * 1.25);
}

section.title > *, 
section.heading > *, 
section.transition > * {
	text-align: center;
}

section.title h1, 
section.heading h1, 
section.transition h1 {
	padding: 0;
	margin: 0 0 var(--vspace_lg) 0;
}

/* No footer */
section.title footer, 
section.heading footer, 
section.transition footer {
	display: none;
}


/******** definition - centered box used to define a new term ********/

section.definition {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
section.definition h1 {
	margin: 0 auto;
	width: 80%;
    padding: 20px var(--slide_padding);
    background-color: rgb(73, 77, 203);
	color: #fff;
	font-size: calc(0.75 * var(--h1_size));
}
section.definition h1::before {
    content: '🛈';
    margin-right: 10px;
    padding: 5px;
    font-weight: normal;
	color: #fff;
	font-size: 0.8em;
}
section.definition p, section.definition ul, section.definition ol, section.definition pre {
	margin: 0 auto;
	width: 80%;
    padding: calc(0.5 * var(--slide_padding)) var(--slide_padding);
    background-color: rgb(200, 210, 240);
	border: none;
    font-size: 0.8rem;
}
section.definition pre code {
	background-color: rgb(255, 255, 255);
}
